/* --- PRIMARY --- */
* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    color: #424242;
}
h1 {
    font-size: 2rem;
    color: #333;
}
h2 {
    font-size: 1.75rem;
    color: #333;
}
h3 {
    font-size: 1.5rem;
    color: #333;
}
h4 {
    font-size: 1.25rem;
    color: #333;
}

/* --- CLASS: title --- */
.title {
    text-align: center;
}

/* --- CLASS: sitevisitors --- */
.sitevisitors {
    text-align: center;
    border: 2px solid #333;
    border-radius: .5rem;
    margin: auto;
    max-width: 70%;
}
.sitevisitors strong {
    color: #242424;
    font-weight: bold;
    font-size: 1.15rem;
}
.sitevisitors ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}
.sitevisitors li {
    display: inline-block;
    padding: .5rem;
}
.sitevisitors li:hover {
    background-color: #f1f1f1;
}